// $brandPrimaryColor: #ffd600;
$brandPrimaryColor: #f5da55;
$brandSecondaryColor: #eeda7c;
$brandTertiaryColor: #f55570;
$black: #1D1F21;
$white: #fffdfd;
$grey: #e9e0e0;

$font-primary: "Oswald";
$font-secondary: "Roboto Slab";

$font-stack-primary: $font-primary, "Impact", sans-serif;
$font-stack-secondary: $font-secondary, serif;
