// Fonts
$font-family: 'Nunito', sans-serif;

// Colors
$color-black: #1d1f21;
$color-white: #fffdfd;
$color-grey: #e9e0e0;
$color-dark-grey: #5d5050;
$color-yellow: #f5da55;
$color-red: #f55570;
$color-navy: #2d3844;
